<div id="history-container">
    <h1>Our History</h1>
    <p class="history-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor quam non luctus fringilla. Praesent ut eros rutrum, lacinia orci a, varius purus. Nulla leo ligula, sodales ut ipsum nec, rhoncus tempor velit. Mauris rutrum dolor nisl, non hendrerit sapien pulvinar sit amet. Vivamus aliquet egestas placerat. Sed vitae neque vel sem tincidunt pharetra vitae a mi. Ut ultricies feugiat elit quis vulputate. Fusce urna risus, sodales at turpis fermentum, tincidunt elementum nulla. Nulla rhoncus turpis nec libero pretium, sed sagittis ex mattis. Donec orci arcu, consectetur nec tristique sed, pharetra nec sem. Aenean non mollis mi. Cras metus velit, sodales sed porttitor sed, faucibus a erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in tempus metus.
    </p>
    <img class="worker" src="/images/install1.jpg" width="500px" height="300px">
    <p class="history-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor quam non luctus fringilla. Praesent ut eros rutrum, lacinia orci a, varius purus. Nulla leo ligula, sodales ut ipsum nec, rhoncus tempor velit. Mauris rutrum dolor nisl, non hendrerit sapien pulvinar sit amet. Vivamus aliquet egestas placerat. Sed vitae neque vel sem tincidunt pharetra vitae a mi. Ut ultricies feugiat elit quis vulputate. Fusce urna risus, sodales at turpis fermentum, tincidunt elementum nulla. Nulla rhoncus turpis nec libero pretium, sed sagittis ex mattis. Donec orci arcu, consectetur nec tristique sed, pharetra nec sem. Aenean non mollis mi. Cras metus velit, sodales sed porttitor sed, faucibus a erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in tempus metus.
    </p>
</div> 
