<div class="container">
  <h1>Get your quote today!</h1>
  <div class="message-container row mx-auto">
    <div class="col-xs-12 col-md-6 mb-2">
      <form method="POST" action="/message" > 
        <label for="fname">Your email:</label><input type="text" name="email"> 
        <br>
        <label for='message'>Leave a Message Here:</label> 
        <br>
        <textarea class="contact-form" style="height:200px; width:400px" type="text" name='message'>
        </textarea><br> <input type="submit">
      </form>
    </div>
    <div class="col-xs-12 col-md-6 mt-2">
    <img src="/images/smiling.jpg" width="500px" height="300px">
    </div>
  </div>
  </div>
</div>
