<h1>Get your quote today!</h1>
<div id="message-container">
<div id="form-div">
<form method="POST" action="/message"> 
 <label for="fname">Your email:</label><input type="text" name="email"> 
   <br>
  <label for='message'>Leave a Message Here:</label> <br>
  <textarea style="height:200px; width:400px" type="text" name='message'>
</textarea><br> <input type="submit"></form></div>
<img id="pic-smiling" src="/images/smiling.jpg" width="500px" height="300px">
</div>