<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/solar1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/solar2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/solar3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
<div class="middle"><h2>Produce Your Own Clean Energy</h2>
<p>Solar panels produce renewable clean energy while securing low utility rates. Our panels exceed industry standards for durability and lifespan.</p>
</div>
<div class="div-button"><div class="quote-button"><a href="/contact">Request a quote</a></div></div>
<div class="row">
  <div class="col">
    <div class="container info">
        <h2>Panels with a<br>Sleek, Low-Profile Design</h2>
            <p>Our solar panels blend into your roof with integrated front skirts and no visible mounting hardware. The result is a clean, streamlined look.</p>
    </div>
        </div>
  <div class="col"> <img src="/images/box1.jpg"></div>
  <div class="w-100"></div>
  <div class="col"> <img src="/images/box2.jpg"></div>
  <div class="col">
        <div class="container info">
         <h2>Seamless Integration with <br>Powerwall</h2>
         <p>Powerwall charges with energy produced by solar panels, making that energy available when needed, day or night. Powerwall also enables your solar panels to produce energy during grid outages.  </p>
         </div>
   </div>
</div>


<div id="modal" class="modal">
    <span class="modal-text">Get it here first</span>
    <span id="close-button" onClick="onclickx()">&times;</span>
    <p>Sign up now for up-to-the-minute offers,sales and news.</p>
    <input class="customer" type="text" placeholder="Enter your email address">
    <br>
    <br>
    <input class="submit" type="submit" value="Submit">
  </div>






















