<div class="container page-top">
    <h2 id="h2-image-gallery">Industry-leading Warranty</h2>
    <p id="p-image-gallery">
        We cover 100% of repair or replacement costs, while conventional solar warranties don’t.* Labor, shipping, parts – we’ve got you covered for 25 years. Plus we guarantee that your panels won’t lose more than 8% of their original power output in 25 years. Compare that to 19% for conventional solar.
    </p>
<div class="row">
 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a href="/images/panel1.jpg" class="fancybox" rel="ligthbox"><img  src="/images/panel1.jpg" class="zoom img-fluid "  alt=""></a>
 </div>
 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a href="/images/panel2.jpg"  class="fancybox" rel="ligthbox"><img src="/images/panel2.jpg" class="zoom img-fluid"  alt=""></a>
 </div>            
 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a href="/images/panel3.jpg" class="fancybox" rel="ligthbox"> <img  src="/images/panel3.jpg" class="zoom img-fluid "  alt=""></a>
 </div>
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a href="/images/panel4.jpg"rel="ligthbox"><img  src="/images/panel4.jpg" class="zoom img-fluid "  alt=""></a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a href="/images/panel5.jpg" rel="ligthbox">
   <img  src="/images/panel5.jpg" class="zoom img-fluid "  alt=""></a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a href="/images/panel6.jpg" class="fancybox" rel="ligthbox"><img  src="/images/panel6.jpg" class="zoom img-fluid "  alt=""></a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a href="/images/panel7.jpg" rel="ligthbox">
    <img  src="/images/panel7.jpg" class="zoom img-fluid "  alt=""></a>
  </div>
   <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a href="/images/panel8.jpg" class="fancybox"  rel="ligthbox"> <img  src="/images/panel8.jpg" class="zoom img-fluid "  alt=""> </a>
   </div>      
  </div>
</div>